**.o
**.in
**.in~
.deps
**.sw[op]
Makefile
/stamp-h1
/aclocal.m4
/compile
/missing
/config.log
/config.status
/config.h
/configure
/depcomp
/install-sh
/autom4te.cache
/hitch.8
Makefile.in
.deps/
.libs/
*.o
*.lo
*.la
*~
*.[1-9]
/aclocal.m4
/autom4te.cache/
/compile
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/missing
/stamp-h1
/m4/
/src/vcc*if.[ch]
/docs/vmod_*.rst
