#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
export DH_VERBOSE = 1

mandir   = 'debian/varnish-modules/usr/share/man/man3'
manpages = $(patsubst docs/%.man.rst,$(mandir)/%.3,$(rstfiles))
rstfiles = $(wildcard docs/*.man.rst)

%:
	dh $@  --with autotools_dev

override_dh_installman: $(manpages)
	dh_installman

$(mandir)/%.3: docs/%.man.rst
	rst2man $< $@
